@model List<EksperciOnline.Models.ViewModels.UsługaViewModel>
@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;

    ViewData["Title"] = "Profil";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="container col-md-9 mt-5 rounded-3">
            <div class="btn-group col-md-12">
                <a class="btn btn-info" asp-area="" asp-controller="Account" asp-action="List">Moje Usługi</a>
                <a class="btn btn-info" asp-area="" asp-controller="Favorite" asp-action="MyFavorites">Moje Ulubione</a>
                <a class="btn btn-info" asp-area="" asp-controller="Account" asp-action="Edit">Edytuj konto</a>
                <a class="btn btn-info" asp-area="" asp-controller="Services" asp-action="Add">Dodaj Usługę +</a>
            </div>

            @if (Model != null && Model.Any())
            {
                <div class="container">
                    <div class="row justify-content-center mb-4">
                        <div class="card bg-light py-3 text-center">
                            <div class="container bg-light pt-2 mb-3 rounded-3">
                                <h2 class="text-center fw-bold lh-1 mb-3">Moje ulubione usługi</h2>
                            </div>
                            <form method="get" asp-controller="Account" asp-action="List">
                                <div class="input-group">
                                    <input class="form-control form-control-lg" type="text" placeholder="Szukaj" name="searchQuery" value="@ViewBag.SearchQuery">
                                    <button class="btn btn-info btn-lg" type="submit">Szukaj <i class="bi bi-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @foreach (var usługa in Model)
                {
                    <div class="container bg-light p-3 mb-3 rounded-3">
                        <div class="row mb-3">
                            <div class="col-md-3 text-center">
                                <img src="@usługa.UrlZdjęcia" class="zdjecieLista">

                                <span class="text-warning">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Math.Floor(usługa.AverageGrade)) // Pełne gwiazdki
                                        {
                                            <i class="bi bi-star-fill"></i>
                                        }
                                        else if (i == Math.Ceiling(usługa.AverageGrade) && usługa.AverageGrade % 1 != 0) // Pół gwiazdki
                                        {
                                            <i class="bi bi-star-half"></i>
                                        }
                                        else // Puste gwiazdki
                                        {
                                            <i class="bi bi-star"></i>
                                        }
                                    }
                                </span><br />

                                <span class="text-warning">
                                    (@usługa.TotalComments oceny)
                                </span>
                            </div>

                            <div class="col-md-6">
                                <h4>@usługa.Tytuł</h4>
                                <span class="badge bg-info">@usługa.Kategoria.NazwaKategorii</span>
                                <p>@usługa.KrótkiOpis</p>
                                <label>Usługodawca</label>
                                <p>@usługa.Autor</p>
                            </div>

                            <div class="col-md-3 text-end">
                                <label>Cena</label>
                                <h4 class="fw-bold">@usługa.CenaOd - @usługa.CenaDo PLN</h4>
                                @if (usługa.NrTelefonu != null)
                                {
                                    <label>Numer Telefonu</label>
                                    <h4>@usługa.NrTelefonu</h4>
                                }
                                <label>Data Publikacji</label>
                                <p>@usługa.DataPulikacji.ToShortDateString()</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-info" asp-area="" asp-controller="Services" asp-action="Show" asp-route-id="@usługa.Id">Zobacz więcej <i class="bi bi-chevron-right"></i></a>
                            </div>

                            <div class="col-md-6 text-end">
                                <form asp-action="Remove" asp-controller="Favorite" method="post" style="display:inline;">
                                    <input type="hidden" name="serviceId" value="@usługa.Id" />
                                    <button class="btn btn-info" type="submit">Usuń z ulubionych</button>
                                </form>
                            </div>
                        </div>

                    </div>
                }
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link"
                               asp-controller="Favorite"
                               asp-action="MyFavorites"
                               asp-route-pageNumber="@prevPage"
                               asp-route-pageSize="@ViewBag.PageSize"
                               asp-route-sortBy="@ViewBag.SortBy"
                               asp-route-sortDirection="@ViewBag.SortDirection">
                                Poprzednia
                            </a>
                        </li>

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-controller="Favorite"
                                   asp-action="MyFavorites"
                                   asp-route-pageNumber="@i"
                                   asp-route-pageSize="@ViewBag.PageSize"
                                   asp-route-sortBy="@ViewBag.SortBy"
                                   asp-route-sortDirection="@ViewBag.SortDirection">
                                    @i
                                </a>
                            </li>
                        }

                        <li class="page-item">
                            <a class="page-link"
                               asp-controller="Favorite"
                               asp-action="MyFavorites"
                               asp-route-pageNumber="@nextPage"
                               asp-route-pageSize="@ViewBag.PageSize"
                               asp-route-sortBy="@ViewBag.SortBy"
                               asp-route-sortDirection="@ViewBag.SortDirection">
                                Następna
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            else
            {
                <div class="container bg-light pt-2 mb-3 rounded-3">
                    <h2 class="text-center fw-bold lh-1 mb-3">Nie masz żadnych ulubionych usług</h2>
                </div>
            }


        </div>
    </div>
