@model List<EksperciOnline.Models.Domain.Kategoria>
@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;

    ViewData["Title"] = "Kategorie";
}

<style>
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
</style>

<div class="bg-light py-2">
    <div class="container">
        <h1>Kategorie</h1>
    </div>
</div>



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="d-flex justify-content-between">
                <form method="get" asp-controller="AdminCategories" asp-action="List">
                    <div class="input-group">
                        <input type="text" class="form-controll" name="searchQuery" value="@ViewBag.SearchQuery" />
                        <button type="submit" class="btn btn-info">Szukaj</button>
                    </div>
                </form>

                <div>
                    <button class="btn btn-info">
                        <a class="nav-link" asp-area="" asp-controller="AdminCategories" asp-action="Add">Dodaj Kategorię</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Zdjęcie</th>
                    <th scope="col">
                        Nazwa kategorii
                        <span>
                            <span>
                                <a class="btn btn-info"
                                   asp-controller="AdminCategories"
                                   asp-action="List"
                                   asp-route-sortBy="NazwaKategorii"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-info"
                                   asp-controller="AdminCategories"
                                   asp-action="List"
                                   asp-route-sortBy="NazwaKategorii"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kategoria in Model)
                {
                    <tr>
                        <td>@kategoria.Id</td>
                        <td><img src="@kategoria.UrlZdjęcia" alt="Zdjęcie"></td>
                        <td>@kategoria.NazwaKategorii</td>
                        <td><a class="btn btn-info" asp-area="" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@kategoria.Id">Edytuj</a></td>

                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminCategories"
                       asp-action="List"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        Poprzednia
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-controller="AdminCategories"
                           asp-action="List"
                           asp-route-pageNumber="@i"
                           asp-route-pageSize="@ViewBag.PageSize"
                           asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">
                            >
                            @i
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminCategories"
                       asp-action="List"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        >
                        Następna
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>Brak Kategorii</p>
    }
</div>

