@model List<EksperciOnline.Models.ViewModels.UsługaViewModel>
@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;

    ViewData["Title"] = "Oferty";
}

<div class="container my-3 py-2">
    <div class="row justify-content-center my-4">
        <div class="card bg-light py-3 col-12 col-md-8 text-center">
            <h2 class="fw-bold lh-1 mb-3">Wyszukaj usługi</h2>
            <form method="get" asp-controller="Services" asp-action="List">
                <div class="input-group">
                    <input class="form-control form-control-lg" type="text" placeholder="Szukaj" name="searchQuery" value="@ViewBag.SearchQuery">
                    <input class="form-control form-control-lg" type="text" placeholder="Lokalizacja" name="searchLocalQuery" style="max-width: 200px;" value="@ViewBag.SearchLocalQuery">
                    <button class="btn btn-info btn-lg" type="submit">Szukaj <i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 bg-light rounded-3">
            <!-- Form for filters -->
            <form method="get">
                <div class="container p-3">
                    <h4>Filtry</h4>

                    <div class="form-group mb-2">
                        <label>Wybierz ocenę:</label>
                        <select class="form-control" name="ratingFilter">
                            <option value="">Dowolne</option>
                            <option value="5">★★★★★</option>
                            <option value="4">≥ ★★★★☆</option>
                            <option value="3">≥ ★★★☆☆</option>
                            <option value="2">≥ ★★☆☆☆</option>
                            <option value="1">≥ ★☆☆☆☆</option>
                        </select>
                    </div>

                    <div class="form-group mb-2">
                        <label>Sortuj według ceny:</label>
                        <select class="form-control" name="sortOrder">
                            <option value="asc">Rosnąco</option>
                            <option value="desc">Malejąco</option>
                        </select>
                    </div>

                    <div class="form-group mb-2">
                        <label>Wybierz cenę</label>

                        <div class="form-group">
                            <label>Cena:</label>
                            <input type="number" id="price-from-display" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label>Kategoria:</label>
                        <select class="form-control" name="categoryFilter">
                            <option value="">Dowolna</option>
                            <option value="Informatyk">Informatyk</option>
                            <option value="Hydraulik">Hydraulik</option>
                            <option value="Stolarz">Stolarz</option>
                        </select>
                    </div>

                    <div class="form-group mb-2">
                        <button class="btn btn-info w-100">Filtruj</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-9">
            @if (Model != null && Model.Any())
            {
                @foreach (var usługa in Model)
                {
                    <div class="container bg-light p-3 mb-3 rounded-3">
                        <div class="row mb-3">
                            <div class="col-md-3 text-center">
                                <img src="@usługa.UrlZdjęcia" class="zdjecieLista"><br />

                                <div class="text-warning">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Math.Floor(usługa.AverageGrade)) // Pełne gwiazdki
                                        {
                                            <i class="bi bi-star-fill"></i>
                                        }
                                        else if (i == Math.Ceiling(usługa.AverageGrade) && usługa.AverageGrade % 1 != 0) // Pół gwiazdki
                                        {
                                            <i class="bi bi-star-half"></i>
                                        }
                                        else // Puste gwiazdki
                                        {
                                            <i class="bi bi-star"></i>
                                        }
                                    }
                                </div>
                                <span class="text-warning">(@usługa.TotalComments oceny)</span>
                            </div>

                            <div class="col-md-6">
                                <h4>@usługa.Tytuł</h4>
                                <span class="badge bg-info">@usługa.Kategoria.NazwaKategorii</span>
                                <p>@usługa.KrótkiOpis</p>
                                <label>Usługodawca</label>
                                <p>@usługa.Autor</p>
                            </div>

                            <div class="col-md-3 text-end">
                                <label>Cena</label>
                                <h4 class="fw-bold">@usługa.CenaOd - @usługa.CenaDo PLN</h4>
                                @if (usługa.NrTelefonu != null)
                                {
                                    <label>Numer Telefonu</label>
                                    <h4>@usługa.NrTelefonu</h4>
                                }
                                <label>Data Publikacji</label>
                                <p>@usługa.DataPulikacji.ToShortDateString()</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a class="btn btn-info" asp-area="" asp-controller="Services" asp-action="Show" asp-route-id="@usługa.Id">Zobacz więcej <i class="bi bi-chevron-right"></i></a>
                                <form method="post" asp-controller="Favorite" asp-action="Add" class="d-inline">
                                    <input type="hidden" name="serviceId" value="@usługa.Id">
                                    <button type="submit" class="btn btn-info">Dodaj do ulubionych <i class="bi bi-heart"></i></button>
                                </form>
                            </div>
                            <div class="col-md-6 text-end">
                                <a class="btn btn-info" asp-area="" asp-controller="Message" asp-action="List" asp-route-id="@usługa.Id">Napisz <i class="bi bi-chat"></i></a>
                            </div>
                        </div>
                    </div>
                }

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link"
                               asp-controller="Services"
                               asp-action="List"
                               asp-route-pageNumber="@prevPage"
                               asp-route-pageSize="@ViewBag.PageSize"
                               asp-route-sortBy="@ViewBag.SortBy"
                               asp-route-sortDirection="@ViewBag.SortDirection">
                                Poprzednia
                            </a>
                        </li>

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-controller="Services"
                                   asp-action="List"
                                   asp-route-pageNumber="@i"
                                   asp-route-pageSize="@ViewBag.PageSize"
                                   asp-route-sortBy="@ViewBag.SortBy"
                                   asp-route-sortDirection="@ViewBag.SortDirection">
                                    @i
                                </a>
                            </li>
                        }

                        <li class="page-item">
                            <a class="page-link"
                               asp-controller="Services"
                               asp-action="List"
                               asp-route-pageNumber="@nextPage"
                               asp-route-pageSize="@ViewBag.PageSize"
                               asp-route-sortBy="@ViewBag.SortBy"
                               asp-route-sortDirection="@ViewBag.SortDirection">
                                Następna
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            else
            {
                <p>Brak Usług</p>
            }
        </div>
    </div>
</div>
