@model List<EksperciOnline.Models.Domain.Usługa>
@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;

    ViewData["Title"] = "Usługi";
}

<div class="bg-light py-2">
    <div class="container">
        <h1>Usługi</h1>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="d-flex">
            <form method="get" asp-controller="AdminServices" asp-action="List">
                <div class="input-group">
                    <input type="text" class="form-controll" name="searchQuery" value="@ViewBag.SearchQuery" />
                    <button type="submit" class="btn btn-info">Szukaj</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tytuł
                        <span>
                            <span>
                                <a class="btn"
                                   asp-controller="AdminServices"
                                   asp-action="List"
                                   asp-route-sortBy="Tytuł"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-sort-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn"
                                   asp-controller="AdminServices"
                                   asp-action="List"
                                   asp-route-sortBy="Tytuł"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-sort-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th scope="col">Autor</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Data Publikacji
                        <span>
                            <span>
                                <a class="btn"
                                   asp-controller="AdminServices"
                                   asp-action="List"
                                   asp-route-sortBy="DataPublikacji"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-sort-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn"
                                   asp-controller="AdminServices"
                                   asp-action="List"
                                   asp-route-sortBy="DataPublikacji"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-sort-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usługa in Model)
                {
                    <tr>
                        <td>@usługa.Id</td>
                        <td>@usługa.Tytuł</td>
                        <td>@usługa.AutorId</td>
                        <td>@usługa.Kategoria.NazwaKategorii</td>
                        <td>@usługa.DataPulikacji</td>
                        <td><a asp-area="" asp-controller="Services" asp-action="Show" asp-route-id="@usługa.Id">Pokaż</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminServices"
                       asp-action="List"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        Poprzednia
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-controller="AdminServices"
                           asp-action="List"
                           asp-route-pageNumber="@i"
                           asp-route-pageSize="@ViewBag.PageSize"
                           asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">
                            @i
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminServices"
                       asp-action="List"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        Następna
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>Brak Usług</p>
    }
</div>
